*.iml
.gradle
/local.properties
.idea/assetWizardSettings.xml
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/.name
.idea/caches/build_file_checksums.ser
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties